.section {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.priceButtonContainer {
  display: flex;
}

.priceContainer {
  display: flex;
  align-items: center;
}

.ingredientsList {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 524px);
  overflow-y: scroll;
  gap: 16px;
}

.ingredientContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
