.form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-top: 116px;
}

.form > div > div {
    width: 480px;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
}
