.listContainer {
    display: flex;
    flex-direction: column;
}

.navList {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;

    list-style-type: none;
}

.navListItem {
    padding: 17px 0;
}
