.container {
  box-sizing: border-box;
  height: 100vh;
  padding-bottom: 40px;
}

.main {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  text-align: center;
}
