.ingredientsListByType {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;

  composes: ingredientsList from "../burger-ingredients/burger-ingredients.module.css";
}

.link {
  text-decoration: none;
  color: inherit;
}
