.section {
  width: 100%;
  max-width: 600px;
}

.tabs {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 331px);
  overflow-y: scroll;
}

.ingredientsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.ingredientsListByType {
  composes: ingredientsList;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;
}
