.section {
  width: 100%;
  max-width: 600px;
}

.tabs {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  scroll-behavior: smooth;

  height: calc(100vh - 331px);
}

.ingredientsList {
  margin: 0;
  padding: 0;

  list-style-type: none;
}
