.section {
  width: 100%;
  max-width: 600px;
}

.tabs {
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 331px);
  overflow-y: scroll;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;
}
