.header {
  background: #1c1c21;
}

.ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1280px;

  list-style-type: none;

  color: white;
}

.link {
  display: flex;
  align-items: center;

  text-decoration: none;
}

.logo {
  display: flex;

  margin-left: -175px;

  cursor: pointer;
}

