.header {
  background: #1c1c21;
}

.headerList {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1280px;

  list-style-type: none;

  color: white;
}
.headerLogo {
  display: flex;

  margin-left: -175px;

  cursor: pointer;
}

