.header {
  box-sizing: border-box;
  composes: modal-bg from "../../global-styles/interface.module.css";
}

.ul {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  color: white;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  display: flex;
}

.logo {
  margin-left: -175px;
}
