.container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 272px;
}

.image {
  display: block;

  object-fit: contain;
  object-position: center;

  width: 240px;
}

.group {
  display: flex;
}

.name {
  text-align: center;
}
